Repository teambit/envs, pull requests merged in 2020-01, with the labels that each got.

#70 Update react compiler read me
  packages/react-typescript/README.md
Labels: type/documentation

#76 fix development flag and disable of undefined error
  packages/ts-compiler/src/compile.ts
  packages/ts-compiler/test/tsconfig.spec.ts
Labels: TypeScript

#77 Fix generated types in React-TypeScript compiler
  .taskfile
  packages/react-typescript/src/generate-types.ts
  packages/react-typescript/test/generate-types.spec.ts
Labels: React, TypeScript

#79 Update TypeScript compiler to be abstract and work with Preset configuration
  .bitmap
  package.json
  packages/ts-compiler/README.md
  packages/ts-compiler/package-lock.json
  packages/ts-compiler/src/compile.ts
  packages/ts-compiler/src/index.ts
  packages/ts-compiler/src/tsconfig.ts
  packages/ts-compiler/src/typescript-compiler.ts
  packages/ts-compiler/src/typescript-preset.ts
  packages/ts-compiler/test/compile.spec.ts
  packages/ts-compiler/test/preset.spec.ts
  packages/ts-compiler/test/spy-compiler.ts
  packages/ts-compiler/test/tsconfig.spec.ts
Labels: TypeScript, type/feature

#80 Update react-typescript to work with preset
  .bitmap
  packages/react-typescript/package-lock.json
  packages/react-typescript/package.json
  packages/react-typescript/src/react-preset.ts
  packages/react-typescript/src/tsconfig.ts
  packages/react-typescript/test/preset.spec.ts
Labels: TypeScript

#81 Update react-native compiler
  .bitmap
  package.json
  packages/react-native/.babelrc
  packages/react-native/README.md
  packages/react-native/config.md
  packages/react-native/index.ts
  packages/react-native/package-lock.json
  packages/react-native/package.json
  packages/react-native/src/babel-prefix-resolve.ts
  packages/react-native/src/babelrc.ts
  packages/react-native/src/dependencies-helpers.ts
  packages/react-native/src/index.ts
  packages/react-native/src/reactnative-preset.ts
  packages/react-native/test/babel-prefix.spec.ts
  packages/react-native/test/compile-react.spec.ts
  packages/react-native/test/preset.spec.ts
Labels: ReactNative
